parameters:
	ignoreErrors:
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Null bytes keys are…'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: test/StoragelessTest/Session/DefaultSessionDataTest.php

		-
			message: '#^Method PSR7SessionsTest\\Storageless\\Session\\DefaultSessionDataTest\:\:testContainerIsNotChangedWhenNonScalarDataIsSetAndOverwrittenInIt\(\) has parameter \$expectedScalar with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: test/StoragelessTest/Session/DefaultSessionDataTest.php
