<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuite name="PSR7Session tests">
    <directory>./test/StoragelessTest</directory>
  </testsuite>
</phpunit>
